<div class="col-lg-6 col-12">
  <div class="box">
    <div class="box-header with-border bg-light">
      <h4 class="box-title">Thêm thư viện</h4>
      <!-- <ul class="box-controls pull-right">
          <li><a class="box-btn-close" href="#"></a></li>
          <li><a class="box-btn-slide" href="#"></a></li>
          <li><a class="box-btn-fullscreen" href="#"></a></li>
        </ul> -->
    </div>
    <!-- /.box-header -->
    <form class="form" #myForm="ngForm">
      <div class="box-body">
        <div class="form-group">
          <label for="name">Tên thư viện</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-user"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              [(ngModel)]="library.name"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="address">Địa chỉ</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"
                ><i class="ti-location-pin"></i
              ></span>
            </div>
            <input
              type="text"
              class="form-control"
              name="address"
              id="address"
              [(ngModel)]="library.address"
            />
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Số điện thoại</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-mobile"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              name="phone"
              id="phone"
              [(ngModel)]="library.phone"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="desc">Mô tả</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-mobile"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              name="desc"
              id="desc"
              [(ngModel)]="library.desc"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="image">Hình ảnh thư viện</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-mobile"></i></span>
            </div>
            <input
              type="file"
              class="form-control"
              id="image"
              (change)="handleFileInput($event.target.files)"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="manager">Họ tên (quản lý)</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-mobile"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              name="manager"
              id="manager"
              [(ngModel)]="library.manager"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="manager_address">Địa chỉ (quản lý)</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-mobile"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              name="manager_address"
              id="manager_address"
              [(ngModel)]="library.manager_address"
            />
          </div>
        </div>

        <div class="form-group">
          <label for="manager_phone">Số điện thoại (quản lý)</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-mobile"></i></span>
            </div>
            <input
              type="text"
              class="form-control"
              name="manager_phone"
              id="manager_phone"
              [(ngModel)]="library.manager_phone"
            />
          </div>
        </div>
      </div>

      <!-- /.box-body -->
      <div class="box-footer">
        <button
          type="submit"
          class="btn btn-primary btn-outline"
          (click)="submitHandler(myForm)"
        >
          <i class="ti-save-alt"></i> Lưu thông tin
        </button>
      </div>
    </form>
  </div>
  <!-- /.box -->
</div>
