<div class="col-lg-6 col-12">
  <app-message [isError]="isError" [message]="message"></app-message>
</div>

<div class="col-lg-6 col-12">
  <div class="box">
    <div class="box-header with-border bg-light">
      <h4 class="box-title">Thêm khách hàng</h4>
      <ul class="box-controls pull-right">
        <li><a class="box-btn-fullscreen" href="#"></a></li>
      </ul>
    </div>
    <!-- /.box-header -->
    <form class="form" #myForm="ngForm">
      <div class="box-body">
        <div class="form-group">
          <label for="name">Họ tên</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-user"></i></span>
            </div>
            <input
              id="name"
              type="text"
              class="form-control"
              name="name"
              ngModel
            />
          </div>
        </div>

        <div class="form-group">
          <label for="code">Mã</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-user"></i></span>
            </div>
            <input
              id="code"
              type="text"
              class="form-control"
              name="code"
              ngModel
            />
          </div>
        </div>

        <div class="form-group">
          <label for="group">Trường/Lớp</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-user"></i></span>
            </div>
            <input
              id="group"
              type="text"
              class="form-control"
              name="group"
              ngModel
            />
          </div>
        </div>

        <div class="form-group">
          <label for="address">Địa chỉ</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-user"></i></span>
            </div>
            <input
              id="address"
              type="text"
              class="form-control"
              name="address"
              ngModel
            />
          </div>
        </div>

        <div class="form-group">
          <label for="birthday">Ngày sinh</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="ti-user"></i></span>
            </div>
            <input
              id="birthday"
              type="date"
              class="form-control"
              name="birthday"
              ngModel
            />
          </div>
        </div>

        <div *ngIf="customerRoles" class="form-group">
          <label for="role">Công việc</label>
          <select
            id="role"
            class="form-control"
            name="role"
            ngModel
          >
            <option
              *ngFor="let role of customerRoles"
              value="{{ role['id'] }}"
              >{{ role["title"] }}</option
            >
          </select>
        </div>

      </div>
      <!-- /.box-body -->
      <div class="box-footer">
        <button
          type="submit"
          class="btn btn-success"
          (click)="addCustomer(myForm)"
        >
          <i class="ti-save-alt"></i> Lưu
        </button>
      </div>
    </form>
  </div>
  <!-- /.box -->
</div>
